.header{
    height:70px;
    background:#c40000;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    width:300px;
    padding:10px;
}

.search-box button{
    padding:10px 15px;
}

.header-action{
    display:flex;
    gap:10px;
}

.main-layout{
    display:flex;
}

.sidebar{
    width:250px;
    background:white;
    min-height:100vh;
    padding:20px;
}

.sidebar h3{
    margin-bottom:20px;
}

.sidebar li{
    padding:10px 0;
}

.content{
    flex:1;
    padding:20px;
}

.banner img{
    height:300px;
    object-fit:cover;
    border-radius:10px;
}

.section-title{
    margin:30px 0 20px;
}

.product-grid{
    display:grid;
    flex-wrap: wrap;
    gap:20px;
}
.product-list{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.product-card{
    width:220px;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:0.3s;
}
.product-card:hover{
    transform: translateY(-5px);
}
.product-card img{
    width:100%;
    height:220px;
    object-fit:contain;
}
.product-card button{
    width:100%;
    padding:10px;
    border:none;
    background:#d70018;
    color:white;
    border-radius:5px;
}
.product-name{
    margin-top:10px;
    font-weight:bold;
}

.product-price{
    color:red;
    margin-top:10px;
}

.footer{
    background:#1f4ea3;
    color:white;
    text-align:center;
    padding:30px;
}
.detail-btn{
    width:100%;
    margin-top:10px;
    padding:10px;
    border:none;
    background:#e30019;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.detail-btn:hover{
    background:#c50015;
}